$somehow_dark_gray: #2e2e2e;


.menu {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 3;
    width: 90%;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
    padding: 18px;
    max-width: 1700px;
    border-radius: 8px;
    transform: translateX(-50%);
    .logo {
        float: left;
        margin-left: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: $somehow_dark_gray;
    }
    .account {
        margin-right: 15px;
        float: right;
        cursor: pointer;
        img {
            width: 35px;
        }
    }

    .account-dropdown {
        position: absolute;
        right: 0;
        top: calc(100% - 15px);
        background: #fafafa;
        height: auto;
        box-shadow: 0 4px 18px 5px rgba(24, 24, 24, 0.2);
        z-index: 3;
        width: auto;
        padding: 15px 0;
        border-radius: 8px;
        transition: 100ms ease;

        @media screen and (max-width: 800px) {
            width: 60%;
            min-width: 200px;
        }
        .items {
            position: relative;
            hr {
                margin: 15px auto 15px auto;
                background: #cbcbcb;
                border: 0;
                height: 2px;
                width: 80%;
            }
            .item{
                transition: 170ms ease;
                color: #545454;
                cursor: pointer;
                margin: 5px 0;
                font-weight: 500;
                font-size: 0.99rem;
                padding: 7px 25px;
                @media screen and (max-width: 700px) {
                    padding: 10px 35px;
                    font-size: 0.85rem;
                }
                &:hover {
                    color: white;
                    background: #000f90;
                }
            }
            .welcome {
                padding: 0 25px;
                font-family: 'Ubuntu', sans-serif;
                font-weight: 500;
                color: #2a2a2a;
                .accountName {
                    font-weight: 600;
                    cursor: pointer;
                    color: black;
                }
                @media screen and (max-width: 700px) {
                    padding: 10px 35px;
                    font-size: 0.95rem;
                }
                &:hover {
                    background: none;
                }
            }
        }
    }
    @media screen and (max-width: 800px) {
        padding: 13px 18px;
        .logo {
            font-size: 1rem;
        }
        .account img {
            width: 30px;
        }
    }
}
